@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

:root {
  --bg-color: #10101a;
  --main-color: #00adb5;
  --2nd-color: #ffffffcc;
  --text-color: #fff;
  --big-font: 5rem;
  --h2-font: 1.9rem;
  --p-font: 1rem;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* Header */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-color);
  padding: 24px 14%;
  transition: 0.3s;
}

.logo {
  color: var(--text-color);
  font-size: 1.8rem;
  font-weight: 600;
}

span {
  color: var(--main-color);
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  font-size: 1rem;
  padding: 10px 20px;
  font-weight: 500;
}

.navbar a:hover {
  color: var(--main-color);
  transition: 0.3s;
}

.border {
  border-bottom: 2px solid var(--main-color);
  padding: 2px 0px;
  transition: 0.5s ease-in-out;
  width: 0px;
}

.navbar li:hover .border {
  padding: 2px 0px;
  transition: 0.5s ease-in-out;
  width: 75%;
}

#menu-icon {
  font-size: 28px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

/* Start Home */

section {
  padding: 140px 14%;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 6rem;
  align-items: center;
}

.home-img img {
  max-width: 100%;
  width: 500px;
  height: auto;
  margin-top: 50px;
}

.home-text h5 {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  margin: 0 0 20px;
}

.home-text h1 {
  font-size: var(--big-font);
  color: var(--text-color);
  font-weight: 700;
  line-height: 1;
  margin: 0 0 20px;
}

.home-text h6 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}

.btn {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
}

.btn:hover {
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

@keyframes upDown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(-15px);
  }
}

.bx-down-arrow-circle {
  margin-top: 30px;
  font-size: 30px;
  color: var(--main-color);
  animation: upDown 3s ease-in-out infinite;
}

.bx-down-arrow-circle:hover {
  /* transform: translateY(30px); */
  /* transition: 0.5s ease; */
  transition: 0.5s ease-in-out;
}

/* Start About */

.about {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 5rem;
  align-items: center;
}

.about-img img {
  max-width: 100%;
  width: 280px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

.about-img .box {
  padding: 10px 5px;
}

.box h1 {
  margin-top: 10px;
  text-align: center;
}

.general-bottom {
  padding: 0 5px;
  padding-top: 15px;
}

.general-bottom .bx {
  margin-top: 6px;
}

.general-bottom a {
  font-size: 14px;
  width: 98%;
  color: inherit;
}

.first {
  margin-top: 0px;
}

.first:hover .bx-cake,
.first a:hover {
  color: #0f5132 !important;
}

.univ:hover .bxs-graduation,
.univ a:hover {
  color: #0080ff !important;
}

.wa:hover .bxl-whatsapp,
.wa a:hover {
  color: #25d366 !important;
}

.email:hover .bx-envelope {
  background: linear-gradient(to right, #4285f4, #bb001b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.email a:hover {
  background: linear-gradient(to right, #ea4335, #fbbc05, #34a853);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-text h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
  margin: 0 0 30px;
}

.about-text h2 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: var(--h2-font);
  line-height: 1.2;
  max-width: 470px;
  margin-bottom: 2rem;
}

.about-text p {
  max-width: 570px;
  font-size: var(--p-font);
  font-weight: 300;
  text-align: justify;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
  color: var(--2nd-color);
}

.social-media {
  text-align: center;
  font-size: 30px;
}

.social-item ul {
  display: inline-flex;
}

.social-item a {
  color: var(--main-color);
  padding-left: 20px;
  padding-right: 20px;
}

.fb:hover .bxl-facebook {
  color: #3b5998;
}

.ig:hover .bxl-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tw:hover .bxl-twitter {
  color: #00acee;
}

.linkedin:hover .bxl-linkedin {
  color: #007ab5;
}

.github:hover .bxl-github {
  color: #ffffff;
}

.main-btn .btn {
  margin-right: 20px;
}

.media {
  height: 50px;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
}

.media .social-text {
  position: absolute;
  font-size: 10px;
  transition: all 0.3s;
  display: none;
}

.media:hover {
  transform: translateY(-15px);
}

.media:hover .social-text {
  display: block;
  transform: translateY(3px);
}

/* Start Services */

.center {
  text-align: center;
}

.center h3 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 6px;
}

.skills-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}

.row {
  background: #0b0b13;
  padding: 60px 35px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.row i {
  color: var(--main-color);
  font-size: 3rem;
  margin-bottom: 20px;
}

.row h3 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 20px;
  color: var(--text-color);
}

.row p {
  font-size: 18px;
  color: var(--2nd-color);
  line-height: 30px;
}

.row:hover {
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

/* Hire Me */

.hire-me {
  background: #0b0b13;
  width: 100%;
  padding: 150px 0;
  text-align: center;
  margin: 100px auto;
}

.hire-me h4 {
  color: var(--text-color);
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.hire-me h2 {
  color: var(--main-color);
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
}

/* Education */

.education-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  grid-gap: 2rem;
  align-items: center;
  margin-top: 4.4rem;
}

.box {
  background: #0b0b13;
  padding: 40px 30px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s;
}

.box h6 {
  color: #3e4455;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box h4 {
  color: var(--text-color);
  font-size: 1.3rem;
  font-weight: 700;
  margin-top: 25px;
  margin-bottom: 13px;
}

.box p {
  font-size: var(--p-font);
  font-weight: 300;
  margin-bottom: 1.2rem;
  line-height: 1.8rem;
  color: var(--2nd-color);
}

.box h5 {
  color: var(--2nd-color);
  font-size: 14px;
  font-weight: 500;
}

.box:hover {
  transform: translateY(-15px);
  box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

/* Contact */

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4.2rem;
}

.contact-form form {
  position: relative;
  width: 550px;
}

.contact-form div {
  align-items: center;
  position: relative;
  justify-content: center;
  display: none;
}

form input,
form textarea {
  width: 100%;
  padding: 20px;
  border: none;
  outline: none;
  background: #0b0b13;
  color: var(--text-color);
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

form input::placeholder,
form textarea::placeholder {
  color: var(--2nd-color);
}

textarea {
  resize: none;
  height: 200px;
}

form .send-btn {
  background: var(--main-color);
  color: var(--text-color);
  box-shadow: 4px 4px var(--text-color);
  padding: 0 25px;
  line-height: 42px;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  transition: ease all 0.35s;
  cursor: pointer;
}

form .send-btn:hover {
  background: var(--text-color);
  color: var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

/* Copyright */

.copyright {
  text-align: center;
  padding: 30px;
  color: var(--2nd-color);
  background: #0b0b13;
  margin-top: 3rem;
  line-height: 1.8rem;
}

.alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}

.alert-dismissible {
  padding-right: 3rem;
}

.fade {
  transition: opacity 0.15s linear;
}

@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}

.fade:not(.show) {
  opacity: 0;
}

@media (max-width: 1430px) {
  header {
    padding: 25px 3%;
  }
  section {
    padding: 50px 3%;
  }
  :root {
    --big-font: 3rem;
    --h2-font: 1.2rem;
  }
}

@media (max-width: 1020px) {
  :root {
    --big-font: 3rem;
    --h2-font: 1.2rem;
    --p-font: 0.9rem;
  }
  .home {
    height: 70vh;
  }
}

@media (max-width: 840px) {
  header {
    padding: 18px 3%;
  }
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
    text-align: left;
    transition: 0.2s ease;
  }
  .navbar a {
    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
  }
  .navbar.active {
    top: 100%;
  }
}

@media (max-width: 840px) {
  .home {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    text-align: center;
    margin-top: 80px;
    height: 100vh;
  }
  .home-text p {
    max-width: 100%;
  }
  .home-img img {
    max-width: 100%;
    width: 300px;
    height: auto;
  }
  .about {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .about-text h2 {
    max-width: 100%;
  }
  .about-text p {
    max-width: 100%;
  }
  .about-img {
    order: 2;
  }
  .general-bottom {
    text-align: justify;
  }
}
